<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<heed>
    <title>管理台</title>
    <meta charset="utf-8">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script>
</heed>
<body>
<style>
    body{
        margin: 0;
        background: #f3f3f3;
    }
</style>
<section>
    <style>
        .left{
            position: fixed;
            width: 260px;
            height: 100%;
            background: #f8f8f8f8;
            box-shadow: 5px 0 10px #ccc;
        }
        .title{
            color: #0d2739;
            font-size: 18px;
            text-align: center;
            padding: 30px 30px 15px;
            border-bottom: 1px solid #aaa;
            margin: 0 30px;
        }
        .menu{
            padding: 20px;
        }
        ul,li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .menu li{
            cursor: pointer;
            margin: 10px 0;
            height: 50px;
            line-height: 50px;
            color: gray;
            border-radius: 4px;
        }
        .menu li:hover{
            background: rgba(173, 173, 173, 0.1);
        }
        .active{
            background: #9d1cb2;
            color: #ffffff !important;
        }
        .active:hover{
            background: #9d1cb2 !important;
        }
        .menu li .glyphicon{
            font-size: 18px;
            position: relative;
            top: 3px;
            padding-right: 20px;
            padding-left: 20px;
        }
    </style>
    <div class="left">
        <div class="title">
            ARTWORK CMS
        </div>
        <ul class="menu" id="menu">
            <li id="homeBtn" key="home">
                <span class="glyphicon glyphicon-home"></span>
                <span>首页</span>
            </li>
            <li id="sysBtn" key="sys">
                <span class="glyphicon glyphicon-cog"></span>
                <span>系统管理</span>
            </li>
            <li id="userBtn" key="user">
                <span class="glyphicon glyphicon-user"></span>
                <span>用户管理</span>
            </li>
            <li id="artBtn" key="art">
                <span class="glyphicon glyphicon-picture"></span>
                <span>艺术作品管理</span>
            </li>
        </ul>
    </div>
    <script>
        $(function () {
            $('#'+(sessionStorage.getItem('indexTriggerKey')||'home')+'Btn').trigger('click');
        });
        !function () {
            $('#menu').on('click','li',function () {
                var key=$(this).attr('key');
                var $active=$('.active');
                if(key===$active.attr('key')){
                    return;
                }
                $('#pages>div').hide();
                $active.removeClass('active');
                $(this).addClass('active');
                $('#'+key).show();
                $('#pageIndex').html($(this).find('span').html());
                sessionStorage.setItem('indexTriggerKey',key);
            })
        }();
    </script>
</section>
<section>
    <style>
        .right{
            width: calc(100% - 260px);
            margin-left: 260px;
        }
        #pages>div{
            display: none;
        }
    </style>
    <div class="right">
        <div style="padding: 20px 20px 0 20px;">
            <span id="pageIndex">首页</span>
            <div style="float: right;">
                <span th:text="${session.user.getName()}">逆臣</span>
                <span>欢迎登录</span>
                <a href="/logout">注销</a>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="pages">
            <div id="home">
                <style>
                    .card{
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;
                        padding: 60px 20px 0;
                    }
                    .card>div{
                        max-width: 280px;
                        width: 23%;
                        background: #fff;
                        border-radius: 10px;
                        box-shadow: 2px 2px 4px #ccc;
                        height: 160px;
                    }

                </style>
                <div class="card">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="sys">
                <style>
                    #sys{
                        padding: 20px;
                    }
                    .newBanner{
                        width: 100%;
                        height: 400px;
                        background: #fff;
                        border-radius: 20px;
                        margin-bottom: 40px;
                    }
                </style>
                <div>
                    <h3>banner设置</h3>
                    <div class="newBanner"></div>
                    <div class="newBanner"></div>
                    <div class="newBanner"></div>
                    <div class="newBanner"></div>
                </div>
            </div>
            <div id="user">
                <style>
                    #user{
                        padding: 20px 20px 0 20px;
                    }
                    table{
                        width: 100%;
                        text-align: center;
                        box-shadow:1px 1px 2px #666;
                        background: #ffffff;
                    }
                    th{
                        text-align: center;
                    }
                    thead tr{
                        display: block;
                        padding-left: 20px;

                    }
                    tr{
                        height: 40px;
                    }
                    table .head{
                        height: 10px;
                    }
                    table .head>td>div{
                        position: relative;
                        width: 90%;
                        top: -20px;
                        height: 60px;
                        background: #9625B0;
                        margin: 0 auto;
                        padding:0 30px;
                        border-radius: 4px;
                        box-shadow: 0 2px 3px #000;
                    }
                    .srhNav{
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 20px;
                    }
                    .srhNav>div{
                        width: 22%;
                        max-width: 300px;
                        height: 34px;
                        position: relative;
                    }
                    .srhNav .btnGroup{
                        display: flex;
                        justify-content: space-between;
                    }
                    .srhNav .btnGroup .btn{
                        width: 40%;
                    }
                    @media screen and (max-width: 1200px){
                        .smHide{
                            display: none;
                        }
                    }
                </style>
                <form id="srhUserForm" style="padding-top: 20px;padding-bottom: 40px;">
                    <div class="srhNav">

                        <div class="input-group">
                            <label for="srhById" class="input-group-addon">id</label>
                            <input id="srhById" name="id" type="text" class="form-control">
                        </div>


                        <div class="input-group">
                            <label for="srhByName" class="input-group-addon">用户名</label>
                            <input id="srhByName" name="name" type="text" class="form-control">
                        </div>


                        <div>
                            <span class="smHide" style="margin-right: 20px;">类型</span>
                            <span>
                                <label class="radio-inline">
                                    <input type="radio" name="auth" value="all" checked>全部
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="auth" value="user">用户
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="auth"  value="admin">管理员
                                </label>
                            </span>
                        </div>


                        <div>
                            <span class="smHide" style="margin-right: 20px;">排序</span>
                            <span>
                                <label class="radio-inline">
                                    <input type="radio" name="order" value="default" checked>默认
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="order" value="desc">倒序
                                </label>
                            </span>
                        </div>


                    </div>
                    <div class="srhNav">
                        <div>
                            <span class="smHide" style="margin-right: 20px;">性别</span>
                            <span>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="all" checked>全部
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="mal">男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="femal">女
                                </label>
                            </span>
                        </div>

                        <div>
                            <span class="smHide" style="margin-right: 20px;">身份</span>
                            <span>
                                <label class="radio-inline">
                                    <input type="radio" name="isArtist" value="default" checked>全部
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="isArtist" value="1">艺术家
                                </label>
                            </span>
                        </div>

                        <div></div>

                        <div class="btnGroup">
                            <button class="btn btn-default" type="reset">重置</button>
                            <button style="background: #9625B0;color: #ffffff;" class="btn" type="submit">查询</button>
                        </div>
                    </div>
                </form>
                <table class="table" id="userTable">
                    <tr class="head">
                        <td colspan="9999">
                            <div>
                                <div style="color: #ffffff;padding: 8px 0 0 0;font-size: 18px;">用户信息管理</div>
                                <div style="color: #fff;font-weight: lighter;letter-spacing: 2px;">user information manager</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th width="5%">序号</th>
                        <th width="10%">id</th>
                        <th width="10%">头像</th>
                        <th width="10%">用户名</th>
                        <th width="10%">账号权限</th>
                        <th width="5%">艺术家</th>
                        <th width="5%">性别</th>
                        <th width="10%">操作</th>
                    </tr>
                </table>
                <div style="text-align: right;" id="userTablePagination">
                    <style>
                        #userTablePagination li{
                            color:#7f246d;
                            cursor: pointer;
                        }
                    </style>
                    <ul style="margin: 0;" class="pagination">
                        <li class="disabled" id="past"><span>&laquo; 上一页</span></li>
                        <li id="next"><span>下一页 &raquo;</span></li>
                    </ul>
                </div>
                <!-- 模态框（Modal） -->
                <style>
                    .userModal>div{
                        padding-bottom: 20px;
                    }
                    .userModal .ipt{
                        width: 400px;
                        margin: 0 auto;
                    }
                </style>
                <form class="modal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="userModalTitle"></h4>
                            </div>
                            <div class="modal-body">

                                <div class="userModal" style="padding: 20px;">
                                    <div class="input-group ipt">
                                        <label for="userModalSetName" class="input-group-addon">设置账户</label>
                                        <input id="userModalSetName" placeholder="请填写新的用户名" name="name" type="text" class="form-control">
                                    </div>

                                    <div class="input-group ipt">
                                        <label for="userModalSetPassword" class="input-group-addon">设置密码</label>
                                        <input id="userModalSetPassword" placeholder="不填写则不会更改" name="password" type="text" class="form-control">
                                    </div>

                                    <div class="input-group ipt">
                                        <label for="userModalSetAvatar" class="input-group-addon">设置头像</label>
                                        <input id="userModalSetAvatar" placeholder="请填写头像地址" name="avatar" type="text" class="form-control">
                                    </div>

                                    <div class="ipt">
                                        <span style="margin-right: 20px;">设置性别</span>
                                        <span>
                                            <label class="radio-inline">
                                                <input id="userModalSetSex0" type="radio" name="sex" value="0">男
                                            </label>
                                            <label class="radio-inline">
                                                <input  id="userModalSetSex1" type="radio" name="sex" value="1">女
                                            </label>
                                        </span>
                                    </div>

                                    <div class="ipt">
                                        <label for="userModalSetAuth">设置权限</label>
                                        <select name="auth" id="userModalSetAuth" class="form-control">
                                            <option value="user">普通用户（user）权限</option>
                                            <option value="admin">超级管理员（admin）权限</option>
                                        </select>
                                    </div>

                                    <div class="ipt">
                                        <label for="userModalSetIsArtist">是否为艺术家</label>
                                        <select name="isArtist" id="userModalSetIsArtist" class="form-control">
                                            <option value="0">普通用户</option>
                                            <option value="1">艺术家</option>
                                        </select>
                                    </div>
                                </div>



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button style="background: #b7349f;color: #ffffff;" type="submit" class="btn">提交更改</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </form>
                <script>
                    !function () {
                        var limit=Math.floor(($(document).height()-400)/40);
                        var offset=0;
                        var $srhUserForm=$('#srhUserForm');
                        var temp={};
                        !function(){
                            for (var i = 0; i < limit; i++) {
                                $('#userTable').append($('<tr id="userTableTr'+i+'">' +
                                    '<td>'+(i+1)+'</td>' +
                                    '<td>id</td>' +
                                    '<td>http://iamges</td>' +
                                    '<td>name</td>' +
                                    '<td>auth</td>' +
                                    '<td>isArtist</td>' +
                                    '<td>sex</td>' +
                                    '<td>' +
                                    '<div><a class="edit btn btn-default btn-xs">编辑</a></div>' +
                                    '</td>' +
                                    '</tr>'));
                            }
                            $('#userTable').append($('<tr></tr>').append($('<td colspan="8"></td>').append($('#userTablePagination'))))
                        }();
                        $('#userTable').on('click','.edit',function () {
                            console.log(this);
                            var tr=$(this).parent().parent().parent();
                            var td=tr.find('td');
                            temp.userModel={data:{
                                    id:td[1].innerHTML,
                                    name:td[3].innerHTML,
                                    auth:td[4].innerHTML,
                                    avatar:td[2].innerHTML,
                                    sex:td[6].innerHTML==='男'?'0':'1',
                                    isArtist:td[5].innerHTML==='是'?'1':'0'
                                }
                            };
                            var data=temp.userModel.data;
                            $('#userModalTitle').html(data.id+' 的信息编辑');
                            $('#userModalSetName').val(data.name);
                            $('#userModalSetAvatar').val(data.avatar);
                            $('#userModalSetAuth').val(data.auth);
                            if(data.sex==='0'){
                                $('#userModalSetSex0')[0].checked=true;
                            }else {
                                $('#userModalSetSex1')[0].checked=true;
                            }
                            $('#userModalSetIsArtist').val(data.isArtist==='1'?1:0);
                            $('#userModal').modal('show');
                        });
                        $srhUserForm.submit(function (e) {
                            e.preventDefault();
                            var data=$(this).serializeArray();
                            data.push({name:'offset', value:offset});
                            data.push({name:'limit', value:limit});
                            $.ajax({
                                url:'admin/user/list',
                                datatype:'json',
                                data:data,
                                type:'post',
                                success:function (json) {
                                    if(json.code===200){
                                        json=json.data;
                                        for (var i = 0; i < limit; i++) {
                                            var user=json[i];
                                            var td=$('#userTableTr'+i).find('td');
                                            if(user){
                                                td.parent().attr('data-id',user.id);
                                                $(td[0]).css('color','#666');
                                                $(td[1]).html(user.id);
                                                $(td[2]).html(user.avatar);
                                                $(td[3]).html(user.name);
                                                $(td[4]).html(user.auth);
                                                $(td[5]).html(user.isArtist===0?"否":"是");
                                                $(td[6]).html(user.sex===0?'男':'女');
                                                $(td[7]).find(">div").show();
                                            }else {
                                                $(td[0]).css('color','#fff');
                                                $(td[1]).html('');
                                                $(td[2]).html('');
                                                $(td[3]).html('');
                                                $(td[4]).html('');
                                                $(td[5]).html('');
                                                $(td[6]).html('');
                                                $(td[7]).find(">div").hide();
                                            }

                                        }
                                    }
                                }
                            })
                        });

                        $srhUserForm.submit();

                        $('#userTablePagination').on('click','li',function () {
                            if(this.id==='next'){
                                offset=offset+limit;
                            }else {
                                offset=offset-limit;
                            }
                            if(offset<=0){
                                $('#userTablePagination #past').addClass('disabled');
                                offset=0;
                            }else {
                                $('#userTablePagination #past').removeClass('disabled');
                            }
                            $srhUserForm.submit();
                        });

                        $('#userModal').submit(function (e) {
                            e.preventDefault();
                            var dataArr=$(this).serializeArray();
                            var data={};
                            var before=temp.userModel.data;
                            for (var i = 0; i < dataArr.length; i++) {
                                data[dataArr[i].name]=dataArr[i].value;
                            }
                            if(data.name===before.name){
                                delete data.name
                            }
                            if(data.avatar===before.avatar){
                                delete data.avatar
                            }
                            if(data.sex===before.sex){
                                delete data.sex
                            }
                            if(data.auth===before.auth){
                                delete data.auth
                            }
                            if(data.isArtist===before.isArtist){
                                delete data.isArtist
                            }
                            if(!data.password){
                                delete data.password
                            }else {
                                data.password=md5(data.password);
                            }
                            console.log(before);
                            console.log(data);
                            if(Object.keys(data).length===0){
                                alert("没有做任何变更，无法提交");
                                return;
                            }
                            data.id=before.id;
                            $.ajax({
                                url:'admin/user/update',
                                type:'post',
                                datatype:'json',
                                data:data,
                                success:function () {
                                    $('#userModal').modal('hide');
                                    $srhUserForm.submit();
                                }
                            })
                        })
                    }();
                </script>
            </div>
            <div id="art">
                <style>
                    #art{
                        padding: 20px;
                    }
                </style>
                <form id="srhArtForm" style="padding-bottom: 40px;padding-top: 20px;">
                    <div class="srhNav">

                        <div class="input-group">
                            <label for="srhByArtId" class="input-group-addon">作品id</label>
                            <input id="srhByArtId" name="artId" type="text" class="form-control">
                        </div>


                        <div class="input-group">
                            <label for="srhByArtName" class="input-group-addon">作品名</label>
                            <input id="srhByArtName" name="artName" type="text" class="form-control">
                        </div>

                        <div>
                            <select name="by" class="form-control">
                                <option value="">默认排序</option>
                                <option value="id">按id排序</option>
                                <option value="score">按评分排序</option>
                            </select>
                        </div>

                        <div>
                            <select name="order" class="form-control">
                                <option value="">默认顺序展示</option>
                                <option value="desc">倒序</option>
                            </select>
                        </div>

                    </div>

                    <div class="srhNav">

                        <div class="input-group">
                            <label for="srhByArtId" class="input-group-addon">作者id</label>
                            <input id="asrhByArtId" name="artistId" type="text" class="form-control">
                        </div>

                        <div class="input-group">
                            <label for="srhByArtist" class="input-group-addon">作者名</label>
                            <input id="srhByArtist" name="artistName" type="text" class="form-control">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">审核状态</span>
                            <div class="form-control" style="padding: 0;">
                                <select name="review" class="form-control" style="padding: 0;border:none;margin: 0;outline: none;box-shadow: none">
                                    <option value="">全部显示</option>
                                    <option value="0">待审核</option>
                                    <option value="1">已通过</option>
                                </select>
                            </div>
                        </div>

                        <div class="btnGroup">
                            <button class="btn btn-default" type="reset">重置</button>
                            <button style="background: #9625B0;color: #ffffff;" class="btn" type="submit">查询</button>
                        </div>
                    </div>
                </form>
                <style>
                    #artTable  td{

                    }
                </style>
                <table class="table" id="artTable">
                    <tr class="head">
                        <td colspan="9999">
                            <div>
                                <div style="color: #ffffff;padding: 8px 0 0 0;font-size: 18px;">艺术作品信息管理</div>
                                <div style="color: #fff;font-weight: lighter;letter-spacing: 2px;">artwork information manager</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th width="5%">序号</th>
                        <th width="10%">艺术品ID</th>
                        <th width="10%">名称</th>
                        <th width="10%">艺术家</th>
                        <!--<th width="10%">简介</th>-->
                        <th width="5%">审核</th>
                        <th width="5%">评分</th>
                        <th width="10%">操作</th>
                    </tr>
                </table>
                <style>
                    #artModal .input-group{
                        width: 400px;
                        margin: 0 auto 30px;
                    }
                    #artModal .media .image{
                        display: flex;
                        justify-content: space-between;
                        flex-flow: row wrap;
                        padding: 20px;
                    }
                    .image>.img{
                        margin-bottom: 20px;
                    }
                    .image>.img>img{
                        height: 120px;
                    }
                    .image>.markDelete::after{
                        content: '删';
                        position: absolute;
                        width: 100%;
                        display: block;
                        height: 100%;
                        line-height: 120px;
                        color: rgb(255, 55, 56);
                        font-size: 60px;
                        text-shadow: 2px 2px 3px #000;
                        text-align: center;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0.7);
                    }
                    #artModal .media .image>*{
                        position: relative;
                        height: 120px;
                        box-shadow: 1px 1px 2px #333;
                        border-radius:10px;
                        padding-bottom: 10px;
                        cursor: pointer;
                        overflow: hidden;
                    }
                </style>
                <form class="modal" id="artModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 800px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">XXX艺术作品的详细信息</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group ">
                                    <span class="input-group-addon">艺术品名/name</span>
                                    <input name="name" class="form-control" type="text">
                                </div>
                                <div class="input-group" style="position: relative;">
                                    <span class="input-group-addon">艺术家/artist</span>
                                    <input autocomplete="off" id="nameIpt" name="artistName"  class="form-control" type="text">
                                    <ul class="sugBox list-group" style="z-index: 99;display: none;position: absolute;left: 0;top: 40px;background: #ffffff;width: 100%;"></ul>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">评分/score</span>
                                    <div class="form-control score" type="text">5</div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">审核状态/review</span>
                                    <div class="form-control" style="padding: 0;">
                                        <select name="review" class="form-control" style="padding: 0;border:none;margin: 0;outline: none;box-shadow: none">
                                            <option value="0">待审核</option>
                                            <option value="1">已通过</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="form-group">
                                        <span >文字简介/information</span>
                                        <textarea name="info" class="form-control info" rows="3"></textarea>
                                    </div>
                                </div>
                                <style>
                                    .file input {
                                        position: absolute;
                                        font-size: 100px;
                                        right: 0;
                                        top: 0;
                                        opacity: 0;
                                        width: 100%;
                                        height: 100%;
                                    }
                                </style>
                                <div>
                                    <a class="file btn btn-default" style="display: block;margin: 0 auto;width: 200px;position: relative;">
                                        <span class="glyphicon glyphicon-cloud-upload"></span> 点击上传素材
                                        <input type="file" id="upload" name="media">
                                    </a>
                                </div>
                                <div class="media">
                                    <div class="image">
                                        <div class="img"><img src="https://ss.net.tw/images/product_images/popup_images/VanGogh016.jpg"></div>
                                        <div class="img"><img src="https://ss.net.tw/images/product_images/popup_images/VanGogh016.jpg"></div>
                                        <div class="img"><img src="https://ss.net.tw/images/product_images/popup_images/VanGogh016.jpg"></div>
                                        <div class="img"><img src="https://ss.net.tw/images/product_images/popup_images/VanGogh016.jpg"></div>
                                        <div class="img"><img src="https://ss.net.tw/images/product_images/popup_images/VanGogh016.jpg"></div>
                                    </div>
                                    <div class="video"></div>
                                    <div class="audio"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button style="background: #b7349f;color: #ffffff;" type="submit" class="btn">提交更改</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </form>
                <script>
                    !function () {
                        var limit=Math.floor(($(document).height()-400)/40);
                        var offset=0;
                        var $artTable=$('#artTable');
                        var $modal=$('#artModal');
                        var $artForm=$('#srhArtForm');
                        var modalData={};
                        var uploads=[];
                        $artForm.submit(function (e) {
                            e.preventDefault();
                            var dataArr=$(this).serializeArray();
                            var data={};
                            for (var i = 0; i < dataArr.length; i++) {
                                if(dataArr[i].value){
                                    data[dataArr[i].name]=dataArr[i].value
                                }
                            }
                            data.offset=offset;
                            data.limit=limit;
                            if(data.artistName){
                                data.artistName='%'+data.artistName+'%'
                            }
                            if(data.artName){
                                data.artName='%'+data.artName+'%'
                            }
                            console.log(data);
                            $.ajax({
                                url:'/admin/art/list',
                                data:data,
                                type:'post',
                                datatype:'json',
                                success:function (json) {
                                    if(json.code===200){
                                        json=json.data;
                                        for (var i = 0; i < limit; i++) {
                                            var art=json[i];
                                            var tr=$('#artTableTr'+i);
                                            var td=tr.find('td');
                                            if(art){
                                                td.css('opacity',1);
                                                $(td[1]).html(art.id);
                                                $(td[2]).html(art.name);
                                                $(td[3]).html(art.artistName).attr('id',art.artist);
                                                $(td[4]).html(art.review);
                                                $(td[5]).html(art.score);
                                            }else {
                                                td.css('opacity',0);
                                            }
                                        }
                                    }
                                }
                            })
                        });
                        $artForm.submit();
                        !function(){
                            for (var i = 0; i < limit; i++) {
                                $artTable.append($('<tr id="artTableTr'+i+'">' +
                                    '<td>'+(i+1)+'</td>' +
                                    '<td>41</td>' +
                                    '<td>星空下的眼尾画</td>' +
                                    '<td id="100">超级艺术家</td>' +
                                    // '<td>简介的信息很多，很多很多很多很很多很多很多很很多很多很多很很多很多很多很很多很多很多很...</td>' +
                                    '<td>通过</td>' +
                                    '<td >5.0</td>' +
                                    '<td>' +
                                    '<div><a class="edit btn btn-default btn-xs">查看详情</a></div>' +
                                    '</td>' +
                                    '</tr>'));
                            }
                            $artTable.append($('<tr></tr>').append($('<td colspan="8"></td>').append($('#userTablePagination').clone().attr('id','artTablePagination'))))
                        }();
                        $artTable.on('click','.edit',function () {
                            var td=$(this).parent().parent().parent().find('td');
                            uploads=[];
                            $modal.find('.image').html('');
                            modalData={
                                id:$(td[1]).html(),
                                name:$(td[2]).html(),
                                artistId:td[3].id,
                                artistName:$(td[3]).html(),
                                review:$(td[4]).html()==='通过'?'1':'0',
                                score:$(td[5]).html()
                            };
                            console.log(modalData);
                            $modal.find('.modal-title').html('id '+modalData.id+' 的详细信息');
                            $modal.find('input[name="name"]').val(modalData.name);
                            $modal.find('input[name="artistName"]').attr('placeholder',modalData.artistName+'/id:'+modalData.artistId).val('');
                            $modal.find('.score').html(modalData.score);
                            $modal.find('select').val(modalData.review);
                            $modal.modal('show');
                            $.ajax({
                                url:'/admin/art/info',
                                data:{id:modalData.id},
                                type:'post',
                                datatype:'json',
                                success:function (data) {
                                    console.log(data);
                                    if(data.code===200){
                                        data=data.data;
                                        modalData.info=data.info;
                                        $modal.find('.info').html(data.info);
                                        var $media=$modal.find('.media');
                                        var $image=$media.find('.image').html('');
                                        for (let i = 0; i < data.media.length; i++) {
                                            var m=data.media[i];
                                            if(m.type==='image'){
                                                $image.append($('<div data-id="'+m.id+'" class="img"><img src="'+m.url+'"></div>'));
                                            }
                                        }
                                    }
                                }
                            })
                        });
                        $artTable.on('click','#artTablePagination li',function () {
                            console.log(offset,limit);
                            if(this.id==='next'){
                                offset=offset+limit;
                            }else if(this.id==='past'){
                                offset=offset-limit;
                            }
                            if(offset<=0){
                                $artTable.find('#past').addClass('disabled');
                                offset=0;
                            }else {
                                $artTable.find('#past').removeClass('disabled');
                            }
                            console.log(offset,limit);
                            $artForm.submit();
                        });
                        $modal.on('click','.img',function () {
                            console.log('mark delete');
                            if($(this).is('.markDelete')){
                                $(this).removeClass('markDelete');
                                return;
                            }
                            $(this).addClass('markDelete');
                        });
                        $modal.find('#upload').on('change',function (e) {
                            var file=e.target.files[0];
                            var formData=new FormData();
                            formData.append('file',file);
                            formData.append('artwork_id',modalData.id);
                            uploads.push(formData);
                            var reader=new FileReader();
                            reader.readAsDataURL(file);
                            reader.onload=function (arg) {
                                // console.log(arg);
                                $modal.find('.image').append($('<div class="img upload upload'+uploads.length+'"><img src="'+arg.target.result+'"></div>'))
                            }
                        });
                        $modal.submit(function (e) {
                            $modal.modal('hide');
                            e.preventDefault();
                            var dataArr=$modal.serializeArray();
                            var param={};
                            console.log(modalData);
                            for (let i = 0; i < dataArr.length; i++) {
                                if(dataArr[i].value&&dataArr[i].value!==modalData[dataArr[i].name]){
                                    param[dataArr[i].name]=dataArr[i].value;
                                }
                            }
                            if(param.artistName){
                                param.artist=param.artistName.split('/id:')[1];
                                if(param.artist===modalData.artistId){
                                    delete param.artist;
                                }
                                delete param.artistName;
                            }
                            var deleteMedias=$('.markDelete');
                            console.log(deleteMedias);
                            for (let i = 0; i < deleteMedias.length; i++) {
                                if(!param.delArr){
                                    param.delArr=[];
                                }
                                param.delArr.push(deleteMedias[i].getAttribute('data-id'))
                            }
                            if(param.delArr){
                                param.delArr=param.delArr.toString();
                            }
                            param.id=modalData.id;

                            console.log('更新参数',param);
                            $.ajax({
                                url:'/admin/art/update',
                                data:param,
                                datatype:'json',
                                type:'post',
                                success:function () {
                                    $artForm.submit();
                                }
                            });
                            for (var i = 0; i < uploads.length; i++) {
                                var upload = uploads[i];
                                var notUpload=false;
                                for (var j = 0; j < deleteMedias.length; j++) {
                                    var del=deleteMedias[j];
                                    if($(del).is('.upload'+(i+1))){
                                        notUpload=true;
                                        break;
                                    }
                                }
                                if(!notUpload){
                                    $.ajax({
                                        url:'admin/art/upload',
                                        type:'post',
                                        cache:false,
                                        data:upload,
                                        processData:false,
                                        contentType:false,
                                        success:function (data) {
                                            console.log(data);
                                        }
                                    })
                                }
                            }
                        });
                        $('.sugBox').on('click','.btn',function () {
                            console.log(this.id);
                            $('#nameIpt').val($(this).attr('data-name')+' /id:'+$(this).attr('data-id')+'');
                            $('.sugBox').hide();
                        });
                        $('#nameIpt').on('input propertychange',function () {
                            if(!this.value||this.value.trim()===""){
                                pushSug([]);
                                return;
                            }
                            $.ajax({
                                type:'get',
                                datatype:'json',
                                url:'/admin/user/sug',
                                data:{keyword:'%'+this.value+'%'},
                                success:function (e) {
                                    pushSug(e.data)
                                }
                            })
                        });
                        function pushSug(arr) {
                            var box=$('.sugBox').html('').show();
                            for (let i = 0; i < arr.length; i++) {
                                box.append($('<li class="list-group-item"></li>').html(arr[i].name+'  id:'+arr[i].id+' ')
                                    .append($('<span data-name="'+arr[i].name+'" data-id="'+arr[i].id+'" style="float: right;" class="btn btn-xs btn-default">︎ ↖︎ 设置</span>')))
                            }
                        }
                    }();
                </script>
            </div>
        </div>
    </div>
</section>
</body>
</html>