<!DOCTYPE HTML>
<html lang="cn"  xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment::head"></div>
<body>
<div class="container">
    <div th:replace="fragment::header (${'artwork'})"></div>
</div>
<div>
    <div>我的信息</div>
    <div th:if="${session.user.getIsArtist()==0}">
        还没有认证，点击<a href="/review">这里</a>立即认证
    </div>
    <div th:if="${session.user.getIsArtist()==1}">
        展示认证信息
    </div>
    <div>
        <div>我的作品</div>
        <div th:text="${list}"></div>
        <div th:if="${list.size()==0}">
            你还没有作品
        </div>
        <div  th:each="artwork,state : ${list}">
            <div th:text="${artwork.getName()}"></div>
        </div>
    </div>
</div>
</body>
</html>