<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登陆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="/jquery.js"></script>
    <script src="/bootstrap.js"></script>
    <script>
        function isNull(string){
            return string.trim() === "" || string === null;
        }
        $(function () {
            var loginForm=$("#login-form");
            var usernameInput=$("#user-name-label");
            var passwordInput=$("#user-password-label");
            loginForm.submit(function (event) {
                event.preventDefault();
                var username=usernameInput.val();
                var password=passwordInput.val();
                if(isNull(username)){
                    alert('用户名不能为空');
                }else if(isNull(password)){
                    alert('密码不能为空');
                }else {
                    loginForm.submit();
                }
            })
        });
    </script>
</head>
<body>
<form id="login-form" action="/login.do">
    <p>
        <label for="user-name-label">用户名</label>
        <input id="user-name-label" type="text">
    </p>
    <p>
        <label for="user-password-label">密码</label>
        <input id="user-password-label" type="password">
    </p>
    <button class="btn btn-default" type="submit">登陆</button>
    <a class="btn btn-primary" href="/reg">注册</a>
</form>
</body>
</html>