<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>艺术家简介及其艺术作品在线展示系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 模态框（Modal） -->
<div th:if="${session.user == null}" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="login-form" action="/login.do">
            <div class="modal-content" style="width:500px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span> 登录</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" style="width:100px;" type="button"><span class="glyphicon glyphicon-user"></span> 用户名</button>
                    </span>
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                    <br>
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" style="width: 100px;" type="button"><span class="glyphicon glyphicon-lock"></span> 密码</button>
                    </span>
                        <input type="password" class="form-control">
                    </div><!-- /input-group -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
    <script>
        var loginForm=$('#login-form');
        loginForm.submit(function (e) {
            e.preventDefault();
            console.log(e);
        })
    </script>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">微课网</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> 搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal" th:if="${session.user == null}">
                                <span class="glyphicon glyphicon-log-in"></span> 登录
                            </a>
                            <a href="#" th:if="${session.user != null}">
                                <span class="glyphicon glyphicon-user"></span>
                                <span th:text=" ${session.user.getName()}"> 用户名</span>
                            </a>
                        </li>
                        <li th:if="${session.user == null}">
                            <a href="/register"><span class="glyphicon glyphicon-registration-mark"></span> 注册</a>
                            <script>

                            </script>
                        </li>
                        <li th:if="${session.user != null}">
                            <a id="logout"><span class="glyphicon glyphicon-log-out"></span> 注销</a>
                            <script>
                                $("#logout").click(function () {
                                    $.ajax("/api/logout",function (data) {
                                        if(data.success){
                                            window.location.href="/";
                                        }
                                    })
                                });
                            </script>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="jumbotron">
                <h1>
                    Hello, world!
                </h1>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>