<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfiy.art.dao.ArtworkMapper">

    <select id="findArtworkByUser" resultType="HashMap" parameterType="com.jfiy.art.entity.User">
            select *,(select u.name from user u where u.id=a.artist) as artist_name,(select url from artwork_media m where m.artwork_id=a.id limit 1) as url from artwork a where a.artist=#{id}
    </select>
    <select id="findArtworkByScore" resultType="HashMap" parameterType="HashMap">
        select *,(select u.name from user u where u.id=a.artist) as artist_name,(select url from artwork_media m where m.artwork_id=a.id limit 1) as url from artwork a where a.review=1 order by score desc limit #{limit} offset #{offset}   </select>
    <select id="findArtworkByTime" resultType="HashMap" parameterType="HashMap">
        select *,(select u.name from user u where u.id=a.artist) as artist_name,(select url from artwork_media m where m.artwork_id=a.id limit 1) as url from artwork a where a.review=1 order by id desc limit #{limit} offset #{offset}
    </select>

    <select id="findArtList" parameterType="HashMap" resultType="HashMap">
        select recommend,artwork.type,t.name as typeName,artwork.id,artwork.name,artwork.review,artwork.score,artwork.artist,user.name as artistName from artwork left join type t on t.id=artwork.type,user where artwork.artist = user.id
        <if test="artId!=null">
            and artwork.id=#{artId}
        </if>
        <if test="artistName!=null">
            and user.name like #{artistName}
        </if>
        <if test="artName!=null">
            and artwork.name like #{artName}
        </if>
        <if test="review!=null">
            and review = #{review}
        </if>
        <if test="artistId!=null">
            and artist=#{artistId}
        </if>
        <choose>
            <when test="by=='id'">order by artwork.id</when>
            <when test="by=='score'">order by score</when>
        </choose>
        <if test="limit!=null">limit #{limit} offset #{offset}</if>
        <if test="order!=null">
            <if test="by==null">order by id </if>desc
        </if>

    </select>

    <select id="findArtMediaById" resultType="HashMap" parameterType="int">
        select * from  artwork_media where artwork_id=#{1}
    </select>
    <select id="findArtInfoById" resultType="String" parameterType="int">
        select * from artwork where id=#{1} and review=1
    </select>

    <insert useGeneratedKeys="true" keyProperty="id" id="addArtMedia" parameterType="HashMap">
        insert into artwork_media (artwork_id, type, url) values (#{artwork_id},#{type},#{url})
    </insert>

    <update id="updateArtMedia" parameterType="HashMap">
        update artwork_media <set>
        <if test="artwork_id!=null">artwork_id=#{artwork_id},</if>
        <if test="type!=null">type=#{type},</if>
        <if test="url!=null">url=#{url},</if>
    </set> where id=#{id}
    </update>
    <update id="updateArt" parameterType="HashMap">
    update artwork <set>
        <if test="name!=null">name=#{name},</if>
        <if test="review!=null">review=#{review},</if>
        <if test="info!=null">info=#{info},</if>
        <if test="artist!=null">artist=#{artist},</if>
        <if test="type!=null">type=#{type},</if>
        <if test="recommend!=null">recommend=#{recommend},</if>
    </set>
        where id=#{id}
    </update>
    <delete id="removeArtMediaById">
        delete from artwork_media where id=#{1}
    </delete>

    <select id="findArtRecommendList" resultType="HashMap" parameterType="int">
        select *,(select u.name from user u where u.id=a.artist) as artist_name,(select url from artwork_media m where m.artwork_id=a.id limit 1) as url from artwork a where a.review=1 and a.recommend=1 limit 10 offset #{1}
    </select>

    <insert id="addArtwork" useGeneratedKeys="true" keyProperty="id" parameterType="HashMap">
        insert into artwork ( name, artist, info) values (#{name},#{artist},#{info})
    </insert>

    <select id="getArtInfoById" parameterType="String" resultType="HashMap">
        select type.name as typeName,b.avatar,a.*,(select u.name from user u where u.id=a.artist) as artist_name,(select url from artwork_media m where m.artwork_id=a.id limit 1) as url from artwork a left join type on type.id=a.type left join artist b on a.artist=b.user_id where a.id=#{0} and a.review=1
    </select>
    <select id="getMediaListByArtId" resultType="HashMap" parameterType="String">
        select * from artwork_media where artwork_id=#{0}
    </select>
    <select id="getMediaListByArtIntId" resultType="HashMap" parameterType="int">
        select * from artwork_media where artwork_id=#{0}
    </select>

    <select id="getCommentListBuArtId" resultType="HashMap" parameterType="String">
        select *,user.name as username from artwork_comment left join user on user_id=user.id where art_id=#{0}
    </select>

    <insert id="addRecommend" parameterType="HashMap">
insert into artwork_comment (reply, user_id, content, timestamp, art_id)values (#{reply},#{user},#{content},default,#{id});
    </insert>

    <select id="getArtistById" resultType="HashMap" parameterType="String">
        select * from artist where user_id=#{0}
    </select>
    <insert id="insertArtist" parameterType="HashMap">
        insert into artist (user_id) values (#{user_id});
    </insert>
    <update id="updateArtistByUserId" parameterType="HashMap">
        update artist <set>
        <if test="avatar!=null">avatar=#{avatar},</if>
        <if test="nation!=null">nation=#{nation},</if>
        <if test="birthday!=null">birthday=#{birthday},</if>
        <if test="profession!=null">profession=#{profession},</if>
        <if test="info!=null">info=#{info},</if>
        <if test="review!=null">review=#{review},</if>
    </set> where user_id=#{user_id}
    </update>

    <delete id="removeCommend" parameterType="String">
        delete from artwork_comment where id=#{0}
    </delete>

    <update id="scoreIncr" parameterType="String">
        update artwork set score=score+1 where id=#{id}
    </update>
    <select id="getSysInfo" resultType="HashMap">
        select (select count(*) from user) as user,(select count(*) from artist where review=0) as reviewArtist,(select count(*) from artwork) as art,(select count(*) from artwork where review=0) as review,(select count(*) from type) as type
    </select>
    <select id="srhArt" parameterType="String" resultType="HashMap">
        select
            a.id artId,
            a.name artName,
            a.artist artistId,
            u.name artistName,
            a.score score,
            a.info info,
            t.name type,
            m.url url,
            c.content commend
        from artwork a
            left join artwork_media m on m.artwork_id=a.id
            left join artwork_comment c on c.art_id=a.id
            left join type t on t.id=a.type
            left join user u on u.id=a.artist
        where review=1 and (a.name like #{0} or a.info like #{0}) group by a.artist
    </select>
    <select id="findAllType" resultType="HashMap">
        select * from type order by id
    </select>
    <update id="updateArtType" parameterType="HashMap">
        update type set name=#{name} where id=#{id};
    </update>
    <insert id="addArtType" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
        insert into type (name) values (#{name})
    </insert>
    <delete id="removeArtType" parameterType="HashMap">
        delete from type where id=#{id}
    </delete>

    <resultMap id="artMap" type="com.jfiy.art.entity.Art">
        <id property="id" column="id"/>
        <id property="artist" column="artist"/>
        <id property="artistName" column="artistName"/>
        <id property="avatar" column="avatar"/>
        <id property="score" column="score"/>
        <id property="info" column="info"/>
        <collection property="media" column="id" javaType="java.util.List" ofType="com.jfiy.art.entity.Media" select="com.jfiy.art.dao.ArtworkMapper.getMediaListByArtId"  >
            <id property="id" column="id"/>
        </collection>
    </resultMap>
    <select id="findArtByType" parameterType="HashMap" resultMap="artMap">
        select
        user.name artistName,
        artwork.info info,
        artwork.id id,
        artwork.artist artist,
        artist.avatar avatar,
        artwork.name name,
        artwork.score score,
        artwork.time time
        from artwork left join artist on artwork.artist=artist.user_id left join user on user.id=artist.user_id
        where artwork.review=1 and  artwork.type in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="findTopArtist" resultType="HashMap">
        select *,(select SUM(score) from artwork where artwork.artist=artist.user_id and artist.review=1) hot from artist left join user on user_id=user.id where review=1 order by hot desc limit 5
    </select>
</mapper>
