<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfiy.art.dao.ArtworkMapper">

    <select id="findArtworkByUser" resultType="com.jfiy.art.entity.Artwork" parameterType="com.jfiy.art.entity.User">
        select * from artwork where artist=#{id}
    </select>
    <select id="findArtworkByScore" resultType="com.jfiy.art.entity.Artwork" parameterType="HashMap">
        select * from artwork order by score limit #{limit} offset #{offset}
    </select>
    <select id="findArtworkByTime" resultType="com.jfiy.art.entity.Artwork" parameterType="HashMap">
        select * from artwork order by id desc limit #{limit} offset #{offset}
    </select>

    <select id="findArtList" parameterType="HashMap" resultType="HashMap">
        select artwork.id,artwork.name,artwork.review,artwork.score,artwork.artist,user.name as artistName from artwork,user where artwork.artist = user.id
        <if test="artId!=null">
            and artwork.id=#{artId}
        </if>
        <if test="artistName!=null">
            and user.name like #{artistName}
        </if>
        <if test="artName!=null">
            and artwork.name like #{artName}
        </if>
        <if test="review!=null">
            and review = #{review}
        </if>
        <if test="artistId!=null">
            and artist=#{artistId}
        </if>
        <choose>
            <when test="by=='id'">order by artwork.id</when>
            <when test="by=='score'">order by score</when>
        </choose>
        <if test="order!=null">
            <if test="by==null">order by id </if>desc
        </if>
        limit #{limit} offset #{offset}
    </select>

    <select id="findArtMediaById" resultType="HashMap" parameterType="int">
        select * from  artwork_media where artwork_id=#{1}
    </select>
    <select id="findArtInfoById" resultType="String" parameterType="int">
        select info from artwork where id=#{1}
    </select>

</mapper>
