<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfiy.art.dao.UserMapper">
    <resultMap id="user" type="com.jfiy.art.entity.User"/>
    <parameterMap id="user" type="com.jfiy.art.entity.User"/>

    <select id="findUserByNameAndPwd" resultMap="user" parameterType="user">
        select * from user where name=#{name} and pwd=#{pwd}
    </select>

    <insert id="addUser" parameterType="user">
        INSERT INTO USER (name,pwd) VALUES (#{name},#{pwd})
    </insert>

    <select id="findUserList" resultType="com.jfiy.art.entity.User" parameterType="HashMap">
        select * from user where true
        <if test="id!=null">
          and id=#{id}
        </if>
        <if test="name!=null">
            and name=#{name}
        </if>
        <if test="auth!=null">
            and auth=#{auth}
        </if>
        <if test="sex!=null">
            and sex=#{sex}
        </if>
        <if test="isArtist!=null">
            and isArtist=1
        </if>
        <if test="order!=null">
            order by id desc
        </if>
        limit  #{limit} offset #{offset}
    </select>

    <update id="updateUser">
        update user <trim prefix="set" suffixOverrides=",">
        <if test="name!=null">name=#{name},</if>
        <if test="password!=null">pwd=#{password},</if>
        <if test="auth!=null">auth=#{auth},</if>
        <if test="avatar!=null">avatar=#{avatar},</if>
        <if test="sex!=null">sex=#{sex},</if>
        <if test="isArtist!=null">isArtist=#{isArtist},</if>
    </trim>  where id=#{id}
    </update>

    <select id="findUserForSug" resultType="HashMap" parameterType="String">
        select id,name from user where id like #{1} or name like #{1} limit 10
    </select>

    <update id="updateArtist" parameterType="HashMap">
        update artist <set>
        <if test="nation!=null">nation=#{nation},</if>
        <if test="birthday!=null">birthday=#{birthday},</if>
        <if test="nation!=null">nation=#{nation},</if>
        <if test="profession!=null">profession=#{profession},</if>
        <if test="info!=null">info=#{info},</if>
        <if test="review!=null">review=#{review},</if>
        <if test="avatar!=null">avatar=#{avatar},</if>
        <if test="state!=null">state=#{state},</if>
    </set> where user_id=#{user_id}
    </update>

    <insert id="addArtist" parameterType="String">
        insert into artist (user_id,review) values (#{0},-1)
    </insert>

    <select id="getArtistById" parameterType="String" resultType="HashMap">
        select artist.*,user.name,user.sex from artist left join user on user.id=artist.user_id where user_id=#{0}
    </select>

    <select id="getArtist" parameterType="HashMap" resultType="HashMap">
        select a.*,u.name,u.sex from artist a left join user u on a.user_id=u.id  where true
        <if test="review!=null">and review=#{review}</if>
        <if test="review==null">and review=0 or review=1 or review=2 or review=3</if>
        limit #{limit} offset #{offset}
    </select>
    <select id="srhArtist" parameterType="String" resultType="HashMap">
        select * from artist a left join user u on a.user_id=u.id where review=1 and u.name like #{0}
    </select>
</mapper>
